# docker-compose.workshop.yaml
# Simplified: Just start k3s normally, setup is manual

version: '3.8'

services:
  k3s:
    image: rancher/k3s:v1.28.4-k3s1
    container_name: workshop-k3s
    privileged: true
    tmpfs:
      - /run
      - /var/run
    environment:
      - K3S_KUBECONFIG_OUTPUT=/output/kubeconfig.yaml
      - K3S_KUBECONFIG_MODE=666
    volumes:
      - k3s-data:/var/lib/rancher/k3s
      - ./kubeconfig:/output
      - ./k8s:/k8s:ro
    ports:
      - "30080:30080"
      - "30081:30081"
      - "6443:6443"
    command:
      - server
      - --disable=traefik
      - --disable=servicelb

volumes:
  k3s-data: